* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  position: relative;
  height: 100%;
}

body{
	width: 100%;
	background-image: url("pics/背景.png");
	background-size: 100%;
	background-repeat: repeat;
	background-position: left top;
}
.Container{
	padding: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	align-items: center;

}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(186, 116, 65, 0);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-container-v {
        background: rgba(238, 238, 238, 0);
        width: 100%;
        height: 100%;
    }

#Home{
	margin: 0;
	padding: 0;
}
#Home img[alt="Title"], img[alt="Subtitle"],img[alt="Banner"]{
	width: 100%;
}
#Home img[alt="Title"]{
	margin: 200px 0 23px 0;
	/*margin: 200px 0 23px 0;*/
	padding: 0 100px 0 100px;
}
#Home img[alt="Subtitle"]{
	margin: 0 0 12px 0;
	padding: 0 80px 0 80px;
}
#Home img[alt="Banner"]{
	margin: 0 0 70px 0;
	padding: 0 30px 0 30px;
}
#Home p{
	margin: 0 120px 50px 120px;
	/*margin: 0 230px 189.45px 230px;*/
	font-size: 35px;
	font-family: STHeit;
	text-align: left;
}

#Stories{
	margin: 0;
	padding: 0;
}

#ScrollFixed{
  	opacity: 0;
	width: 100%;
	background: rgba(0,0,0,0.1);
	position: fixed;
	top: 113.5px;
	padding: 10px 0 10px 0;
}
#ScrollFixed img{
	width: 20%;
	margin: 0 20px 0 25px;
}


.StoryTitle{
	margin: 355px 0 0 0;
	width: 60%;
}

.StoryPic{
	width: 70%;
	padding: 0 20px 0 20px;
	margin: 40px 0 96px 0;
}
img[alt="BehaviorPic"]{
	padding: 0;
	margin: 0 0 50px 0;

}
.IntroWord{
	padding: 0 100px 0 100px;
	margin: 0 0 90px 0;
	font-size: 35px;
	font-family: STHeit;
	text-align: left;
}

.LawBadTitle, .LawGoodTitle{
	margin: 300px 0 20px 0;
	width: 60%;
}
img[alt="BehaviorLawGoodTitle"]{
	margin: 250px 0 50px 0;
}
img[alt="BehaviorLawBadTitle"]{
	margin: 250px 0 50px 0;
	width: 70%;
}
img[alt="ViolenceLawBadTitle"]{
	margin: 200px 0 0 0;
}
img[alt="ViolenceLawGoodTitle"]{
	margin: 150px 0 0 0;
}
.LawBadPic, .LawGoodPic{
	width: 90%;
	padding: 0 120px 0 120px;
	margin: 50px 0 40px 0;
}
img[alt="ViolenceLawBadPic"]{
	width: 100%;
	padding: 0 50px 0 50px;
}
img[alt="ViolenceLawBadPic2"]{
	width: 80%;
	height: 40%;
	padding: 0 30px 0 50px;
}
img[alt="BehaviorLawGoodPic"]{
	margin: 100px 0 80px 0;
}

.smallArea{
	margin: 100px 0 0 0;
}
.lawBadSmallArea{
	display: inline-block;
	width: 400px;
	height: 450px;
}
.smallAreaText{
	font-family: STHeit;
	font-size: 30px;
}
.LawBadPicSmall, .LawGoodPicSmall{
	width: 100%;
}
img[alt="ViolenceLawGoodPic1"]{
	width: 90%;
}
img[alt="ViolenceLawGoodPic2"]{
	width: 110%;
}
#violenceSmallArea{
	margin: 50px 0 0 0; 
}
#violenceArea{
	margin: 0;
}
.lawSubTitle{
	padding: 10px 50px 0 50px;
	font-size: 40px;
	font-family: STHeit;
	font-weight: 2em;
	text-align: left;
}
#interviewSubtitle{
	margin: 0;
}
.LawBadWord, .LawGoodWord{
	padding: 0 100px 0 100px;
	margin: 0 0 50px 0;
	font-size: 35px;
	font-family: STHeit;	
	text-align: left;
}
#lawbadWordEdit{
	margin: 30px 0 0 0;
}

footer{
	padding: 20px 0 0 0;
	font-size: 35px;
	font-family: STHeit;
}
.FooterTitle{
	margin: 100px 0 50px 0;
	width: 100%;
}
.FooterTitle img[alt="OrgsTitlePic"]{
	width: 30%;
	padding: 30px 0 20px 0;
}


#Orgs .Org{
	display: flex;
	margin: 0 150px 80px 50px;
}
.OrgIntro{
	display: inline-block;
	text-align: left;
	margin: 0;
	width: 400px;
}
.OrgIntro a{
	line-height: 2em;
}
.OrgImage{
	display: inline-block;
	text-align: center;
	padding: 0 0 0 20px;
	width: 400px;
	height: 300px;
}
.OrgImage img{
	width: 60%;
}

#Mores{
	margin: 400px 0 0 0;
	padding: 0 70px 0 70px;
}
#Mores img[alt="MoresTitlePic"]{
	margin: 0px 0 30px 0;
	width: 60%;
}

#Mores .MoreUp{

}
.MoreUp .MorePic{
	width: 25%;
	margin: 0 0 30px 0;
}

#Mores .MoreDown{
	display: inline-block;
	vertical-align: top;
	width: 310px;
	height: 300px;
	margin: 30px 50px 150px 50px;
}

#down1 img{
	width: 75%;
}

.MoreDown .MorePic{
	width: 70%;
	margin: 0 0 30px 0;
}


#Info{
	font-size: 30px;
	margin:150px 0 50px 0;
	text-align: center;
	align-items: center;
}

.Houses{
	width: 100%;
}



/* header */

.header {
background: rgba(0, 0, 0, 0.47);

/*  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);*/
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}

.header li a {
  display: block;
  font-size: 3em;
  color: rgb(255, 255, 255);
  padding: 70px 70px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .3s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 50px 50px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 8px;
  position: relative;
  transition: background .2s ease-out;
  width: 72px;

}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 20px;
}

.header .menu-icon .navicon:after {
  top: -20px;
}

/* menu btn */

.header .menu-btn {
  display: none;

}

.header .menu-btn:checked ~ .menu {
  max-height: 1820px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
